.nut-inputnumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color-background;
  border-radius: $inputnumber-input-border-radius;
  overflow: hidden;
  &-minus,
  &-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $inputnumber-button-width;
    height: $inputnumber-button-height;
    background-color: $inputnumber-button-background-color;
    .nut-icon {
      --nut-icon-width: 20px;
      --nut-icon-height: 20px;
    }
    background-color: yellow;
  }

  &-icon {
    color: $inputnumber-icon-color;
    cursor: pointer;

    &-disabled {
      color: $inputnumber-disabled-color;
      cursor: not-allowed;
    }
  }

  &-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $inputnumber-input-width;
    height: $inputnumber-input-height;
    text-align: center;
    outline: none;
    border: $inputnumber-input-border;
    margin: $inputnumber-input-margin;
    color: $inputnumber-input-font-color;
    background-color: $inputnumber-input-background-color;
    &-disabled {
      color: $inputnumber-disabled-color;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &-input-disabled {
    color: $inputnumber-disabled-color;
  }

  &-icon-minus {
    --nut-icon-width: 16px;
    --nut-icon-height: 16px;
  }

  &-icon-plus {
    --nut-icon-width: 16px;
    --nut-icon-height: 16px;
  }
}
